@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-proxima-nova);
  --font-display: var(--font-kanit);
  --font-script: var(--font-satisfy);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-proxima-nova);
}

:root {
  --font-proxima-nova: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
}

.font-proxima {
  font-family: var(--font-proxima-nova);
}

.font-kanit {
  font-family: var(--font-kanit), sans-serif;
}

.font-satisfy {
  font-family: var(--font-satisfy), cursive;
}
